SERVER_PORT=

DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_SSLMODE=

REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=

JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
JWT_ACCESS_EXPIRY=15m
JWT_REFRESH_EXPIRY=168h

REFRESH_TOKEN_COOKIE_NAME=
REFRESH_TOKEN_COOKIE_HTTP_ONLY=
REFRESH_TOKEN_COOKIE_SECURE=
REFRESH_TOKEN_COOKIE_SAME_SITE=
REFRESH_TOKEN_COOKIE_PATH=